@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #fff;
  background-color: #1f1934;
}

main {
  background: #393a47;
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .proyect_card_technologies img {
  height: fit-content;
}

@media screen and (min-width: 650px) {
  .proyect_card_technologies img {
    height: 0;
    transition: height 0.3s ease;
  }

  .proyect_card:hover .proyect_card_technologies img {
    height: 40px;
  }
} */
